/*  Copyright 2020 Aleksey Karapyshev, Evgeniy Karapyshev ©
# E-mail: <karapyshev@gmail.com>, <karapet2011@gmail.com> */

QMainWindow	{
	border-radius: 2px;
}

QWidget	{
	background-color: #f3f3f3;
	color: #373F43;
}

QTabWidget	{
	font-weight: bold;
	font-size: 14px;
}

#frame_title	{
	background-color: #e21a1a;
}

#logo	{
	background-image: url(./img/rzd_logo.png);
	background-position: center;
}

#labelCalc	{
	background-color: #e21a1a;
	color: #ffffff;
}

#label_project_num	{
	text-decoration: underline;
}

#label_expert_name	{
	text-decoration: underline;
}
#label_project_num1	{
	text-decoration: underline;
}

#label_expert_name1	{
	text-decoration: underline;
}

QCheckBox	{
	font-size: 13px;
}

QRadioButton	{
	font-size: 13px;
}
QTreeWidget	{
	background-color: #ebebeb;
	border: 1px solid grey;
	border-radius: 4px;
	font-size: 13px;
	color: #000;
}

QTreeWidgetItem::Item {
	border-bottom: 1px solid #ffffff;
}

#btn_manual	{
	font-size: 10px;
  	padding: 1px 2px 1px 2px;
}

#btn_methodology {
	background: #e31b1a;
  	background-image: -webkit-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: -moz-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: -ms-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: -o-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: linear-gradient(to bottom, #e31b1a, #c62d1f);

	border-radius: 3px;
	color: #f8e7e9;
  	font-size: 12px;
  	font-weight: bold;
  	padding: 2px 5px 2px 5px;
  	text-decoration: none;
}

#btn_methodology:pressed	{
	background-color: #e31b1a;
}

#btn_methodology:hover	{
	background: #c62d1f;
  	background-image: -webkit-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -moz-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -ms-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -o-linear-gradient(top, #c62d1f, #f24437);
  	background-image: linear-gradient(to bottom, #c62d1f, #f24437);
  	color: #ffffff;
  	text-decoration: none;
}

#btn_license {
	background: #e31b1a;
  	background-image: -webkit-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: -moz-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: -ms-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: -o-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: linear-gradient(to bottom, #e31b1a, #c62d1f);

	border-radius: 3px;
	color: #f8e7e9;
  	font-size: 12px;
  	font-weight: bold;
  	padding: 2px 5px 2px 5px;
  	text-decoration: none;
}

#btn_license:pressed	{
	background-color: #e31b1a;
}

#btn_license:hover	{
	background: #c62d1f;
  	background-image: -webkit-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -moz-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -ms-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -o-linear-gradient(top, #c62d1f, #f24437);
  	background-image: linear-gradient(to bottom, #c62d1f, #f24437);
  	color: #ffffff;
  	text-decoration: none;
}

QPushButton	{
	background: #e31b1a;
  	background-image: -webkit-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: -moz-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: -ms-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: -o-linear-gradient(top, #e31b1a, #c62d1f);
  	background-image: linear-gradient(to bottom, #e31b1a, #c62d1f);

  	border-radius: 5px;
  	color: #ffffff;
  	font-size: 14px;
  	font-weight: bold;
  	padding: 5px 10px 5px 10px;
  	text-align: center;
  	text-decoration: none;
}

QPushButton:pressed	{
	background-color: #e31b1a;
}

QPushButton:hover	{
	background: #c62d1f;
  	background-image: -webkit-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -moz-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -ms-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -o-linear-gradient(top, #c62d1f, #f24437);
  	background-image: linear-gradient(to bottom, #c62d1f, #f24437);
  	color: #ffffff;
  	text-decoration: none;
}

QLabel	{
	padding: 0px 0px 0px 0px;
}

QHeaderView::section	{
	background-color: #82898E;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}