QMainWindow	{
	border-radius: 2px;
}

QWidget	{
	background-color: #f3f3f3;
	color: #e21a1a;
}

QTabWidget	{
	font-weight: bold;
	font-size: 14px;
}

#frame_title	{
	background-color: #e21a1a;
}
#frame_manual   {
    background-color:#f3f3f3;
}
#labelManual    {
    background-color: #f3f3f3;
    color: #000;
}
#logo	{
	background-image: url(./img/rzd_logo.png);
	background-position: center;
}

#labelCalc	{
	background-color: #e21a1a;
	color: white;
}

QCheckBox	{
	font-size: 13px;
}

QRadioButton	{
	font-size: 13px;
}
QTreeWidget	{
	background-color: #fce6e6;
	border: 1px solid grey;
	border-radius: 4px;
	font-size: 13px;
	color: #000;
}


QPushButton	{
	background: #f24437;
  	background-image: -webkit-linear-gradient(top, #f24437, #c62d1f);
  	background-image: -moz-linear-gradient(top, #f24437, #c62d1f);
  	background-image: -ms-linear-gradient(top, #f24437, #c62d1f);
  	background-image: -o-linear-gradient(top, #f24437, #c62d1f);
  	background-image: linear-gradient(to bottom, #f24437, #c62d1f);
  	-webkit-border-radius: 2;
  	-moz-border-radius: 2;
  	border-radius: 4px;
  	font-family: Arial;
  	color: #f8e7e9;
  	font-size: 14px;
  	font-weight: bold;
  	padding: 5px 10px 5px 10px;
  	text-decoration: none;
}

QPushButton:pressed	{
	background-color: #e31b1a;
}

QPushButton:hover	{
	background: #c62d1f;
  	background-image: -webkit-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -moz-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -ms-linear-gradient(top, #c62d1f, #f24437);
  	background-image: -o-linear-gradient(top, #c62d1f, #f24437);
  	background-image: linear-gradient(to bottom, #c62d1f, #f24437);
  	color: #ffffff;
  	text-decoration: none;
}

QLabel	{
	padding: 0px 0px 0px 0px;
}

QHeaderView::section	{

}